<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bit Cloud, Inc.">
    <meta name="author" content="typefo">
    <link rel="icon" href="favicon.ico">
    <title>Pbx Monitor System - Bit Cloud Inc</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/non-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/gateway.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img alt="Brand" src="/img/icon.png" width="34" style="margin-top:-8px" />
          </a>
          <a class="navbar-brand" href="/cdr">pbxMon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cdr">录音查询</a></li>
            <li><a href="/access/status">对接网关</a></li>
            <li><a href="/gateway/status">落地网关</a></li>
            <li><a href="/report">数据报表</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/setting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 账号设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/cdr">Home</a></li>
          <li><a href="#">Gateway</a></li>
          <li class="active">Create</li>
        </ol>
      </div>
      <div class="row">
        <div class="container main">
          <form class="form-horizontal" action="/gateway/create" method="post">
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">落地前缀:</label>
              <div class="col-xs-3 col-sm-3">
                <input type="text" class="input-sm form-control" name="prefix" placeholder="Enter prefix" required="required">
              </div>
              <div class="col-xs-2 col-sm-2">
                <span class="help-block">落地网关被叫号码前缀</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">IP 地址:</label>
              <div class="col-xs-3 col-sm-3">
                <input type="text" class="input-sm form-control" name="ip" placeholder="Enter ip address" required="required">
              </div>
              <div class="col-xs-3 col-sm-3">
                <span class="help-block">落地网关服务器 IP 地址</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">端 口:</label>
              <div class="col-xs-3 col-sm-3">
                <input type="number" class="input-sm form-control" name="port" placeholder="Enter port" min="1" max="65535" value="5060" required="required">
              </div>
              <div class="col-xs-3 col-sm-3">
                <span class="help-block">落地网关服务器端口</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">备注信息:</label>
              <div class="col-xs-3 col-sm-3">
                <input type="text" class="input-sm form-control" name="description" placeholder="Enter description" />
              </div>
              <div class="col-xs-3 col-sm-3">
                <span class="help-block">落地网关备注说明</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-xs-3 col-sm-3">
                <button type="submit" id="submit" class="btn btn-sm btn-success">确 定</button>
                <a class="btn btn-default btn-sm" href="/gateway/status">取 消</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/layer.js"></script>
  <script type="text/javascript">
    $("#submit").click(function(){
      var index = layer.load(2, {shade: [0.7,'#fff'], time: 3000});
    });
  </script>
</html>
