[Unit]
Description=FreeSWITCH
After=syslog.target network.target

[Service]
User=freeswitch
Group=pbx
Nice=-5
UMask=0022
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
LimitSTACK=250000
LimitRTPRIO=infinity
LimitRTTIME=7000000
IOSchedulingClass=realtime
IOSchedulingPriority=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=89
WorkingDirectory=/var/freeswitch
ExecStart=/usr/local/freeswitch/bin/freeswitch -nc -nf -nonat
ExecStop=/usr/local/freeswitch/bin/freeswitch -stop
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
