
body {
    color: #555555;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.breadcrumb {
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumb .add {
    margin-right: 20px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.table {
    margin-top: 10px;
}

table th, table tr td {
    text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>td {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.main {
    margin-top: -5px;
}

.table {
    margin-top: 10px;
}

form .form-group button, form .form-group a {
    width: 80px;
    margin-right: 20px;
}
