
body {
    color: #555555;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.breadcrumb {
    padding-left: 20px;
    padding-right: 15px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.main {
    margin-top: -5px;
}
