<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bit Cloud, Inc.">
    <meta name="author" content="typefo">
    <link rel="icon" href="favicon.ico">
    <title>Pbx Monitor System</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/non-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/server.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img alt="Brand" src="/img/icon.png" width="34" style="margin-top:-8px" />
          </a>
          <a class="navbar-brand" href="/cdr">pbxMon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cdr">录音查询</a></li>
            <li><a href="/access/status">对接网关</a></li>
            <li><a href="/gateway/status">落地网关</a></li>
            <li><a href="/report">数据报表</a></li>
            <li><a href="/server/status">服务器状态</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/setting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 账号设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/cdr">Home</a></li>
          <li><a href="#">Server</a></li>
          <li class="active">Status</li>
        </ol>
      </div>
      <div class="row">
        <div class="container main">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <b>运行时间:</b></div>
            <div class="col-xs-10 col-sm-10 col-md-10"><?php echo $status['uptime'];?></div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <b>CPU型号:</b></div>
            <div class="col-xs-10 col-sm-10 col-md-10"><?php echo $status['cpuinfo'];?></div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <b>操作系统:</b></div>
            <div class="col-xs-10 col-sm-10 col-md-10"><?php echo $status['uname'];?></div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <b>内存使用:</b></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $status['memory']['percentage'];?>%;">
                  <?php echo $status['memory']['percentage'];?>%
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <b>磁盘用量:</b></div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo 100 - $status['hard']['percentage'];?>%;">
                  <?php echo 100 - $status['hard']['percentage'];?>%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/layer.js"></script>
</html>
